{% extends "base.html" %}


{% block content %}
<!-- Button to Add Dragon -->
<div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Añadir Territorio
  </button>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Caracteristicas</th>
        <th scope="col">clima</th>
        <th scope="col">Principales Productos</th>
        <th scope="col">Conquistado</th>
        <th scope="col"># Subditos</th>
      </tr>
    </thead>
    <tbody>
      {% for territorio in territorios.territorios_conquistado %}
      <tr>
        <th scope="row">{{ territorio.id_territorio__nombre_territorio }}</th>
        <td>{{ territorio.id_territorio__caracteristicas }}</td>
        <td>{{ territorio.id_territorio__clima }}</td>
        <td>{{ territorio.id_territorio__principales_productos }}</td>
        {% if territorio.id_territorio__isconquistado is False %}
        <td>No :(</td>
        {% endif %}
        {% if territorio.id_territorio__isconquistado is True %}
        <td>
          {% load static %}
          <img src="{% static 'images/conquistado.png' %}" class="rounded-circle" style="width: 20%;" alt="Conquistado">
        </td>
        <td>{{ territorio.total }}</td>
        {% endif %}
      </tr>
      {% endfor %}
      {% for territorio in territorios.territorios_no_conquistado %}
      <tr>
        <th scope="row">{{ territorio.nombre_territorio }}</th>
        <td>{{ territorio.caracteristicas }}</td>
        <td>{{ territorio.clima }}</td>
        <td>{{ territorio.principales_productos }}</td>
        {% if territorio.isconquistado is False %}
        <td>No :(</td>
        {% endif %}
        {% if territorio.id_territorio__isconquistado is True %}
        <td>
          {% load static %}
          <img src="{% static 'images/conquistado.png' %}" class="rounded-circle" style="width: 20%;" alt="Conquistado">
        </td>
        <td>{{ territorio.total }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Territorio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'insert_territorio' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group row">
            <label for="" class="col-sm-4 col-form-label">Conquistado</label>
            <div class="col-sm-6">
              <input type="radio" name="isconquistado" value="True"> Si
              <input type="radio" name="isconquistado" value="False"> No
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" name="nombre_territorio" placeholder="Nombre Territorio">
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Caracteristicas</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="" name="caracteristicas" placeholder="Caracteristicas">
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Clima</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" name="clima" placeholder="Clima">
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Principales Productos</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" name="principales_productos" placeholder="Principales Productos">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Agregar">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}